<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="eu.darken.porter.permission.API_V23" />

    <queries>
        <package android:name="eu.darken.porter" />
    </queries>

    <application>
        <provider
            android:name="eu.darken.porter.sdk.PorterApiProvider"
            android:authorities="${applicationId}.porter.api"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>
