<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="eu.darken.porter" />
        <package android:name="moe.shizuku.privileged.api" />
    </queries>
    <application android:name=".ConsumerApplication" android:label="Porter SDK consumer" />
</manifest>
