<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="eu.darken.porter.sdk.consumer.BridgeStarter"
            android:authorities="${applicationId}.bridge-starter"
            android:exported="false" />
    </application>
</manifest>
